:root {
  --color-primary-100: #ccd8e5;
  --color-primary-200: #99b2cb;
  --color-primary-300: #668bb2;
  --color-primary-400: #336598;
  --color-primary-500: #003e7e;
  --color-primary-600: #003265;
  --color-primary-700: #00254c;
  --color-primary-800: #001932;
  --color-primary-900: #000c19;
}
